body {
    background-color: rgb(9, 0, 17);
}

.container {
    margin: auto;
    margin-top: 10%;
}

.head {
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.clk {
    width: 25%;
    height: 20%;
    border: 1px solid blueviolet;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: blueviolet;
    box-shadow: 5px 20px 50px rgb(167, 89, 240, 0.7);
}

.clk {
    transition: 1s ease;
}

.clk:hover {
    transform: scale(1.2);
    transition: 1s ease;
}